// Colors
$white : #fff;
$black : #000;
$orange : #ddb14a;
$darkred: #f14705;
$gray-bg: #f1f1f1;
$gray-text: #999999;

//Media Breakpoints
$screenxs: 575px;
$screensm: 767px;
$screenmd: 991px;
$screenlg: 1229px;
$screenxl: 1500px;

$img:"../img/"