@import "../utilities/_variables";

.account {
  .box {
    border-radius: 4px;
    border: 1px solid #dddddd;
    @media (max-width: $screenmd) {
      margin-bottom: 20px;
      margin-top: 25px;
    }
    .menu {
      li {
        width: 100%;
        display: block;
        position: relative;
        transition: all 0.5s ease;
        a {
          display: flex;
          align-items: center;
          position: relative;
          transition: all 0.5s ease;
          padding: 12px 0 12px 15px;
          border-bottom: 1px solid #dddddd;
          width: 100%;
          span {
            color: $black;
            font-size: 13px;
            font-weight: 400;
            margin-left: 8px;
          }
          i {
            font-size: 15px;
            &.icon-card {
              font-size: 11px;
            }
            &.icon-arrow-bold {
              position: absolute;
              right: 10px;
              font-size: 8px;
            }
          }
        }
        &:last-child {
          a {
            border-bottom: none;
          }
        }
        &.active {
          
        }
        &:hover , &.active {
          a {
            span {
              transition: all 0.5s ease;
              color:$orange;
            }
            i {
              &:before {
                transition: all 0.5s ease;
                color:$orange;
              }
            }
          }
        }
      }
    }
    .content {
      padding: 20px;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 1px dashed #dddddd;
        h2 {
          color: $black;
          font-size: 20px;
        }
        span {
          color: #c3c3c3;
          font-size: 14px;
          font-weight: 500;
          @media (max-width: $screenmd) {
            margin-top: 7px;
          }
        }
        @media (max-width: $screenmd) {
          flex-direction: column;
          text-align: center;
        }
      }
      .gift {
        border-radius: 4px;
        padding: 15px;
        border: 1px solid #dddddd;
        @media (max-width: $screenmd) {
          margin-bottom: 20px;
        }
        .price-icon {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h6 {
            font-size: 22px;
            color: $black;
          }
          i {
            font-size: 50px;
            &:before {
              color:$orange;
            }
          }
        }
        p {
          margin: 15px 0;
          font-size: 13px;
          color: #565656;
        }
        a {
          color: $orange;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content:flex-start;
          i {
            margin-left: 5px;
            font-size: 8px;
          }
          &:hover {
            i {
              &:before {
                color:$orange;
              }
            }
          }
        }
      }
      .add-new {
        border-radius: 4px;
        border: 1px solid #dddddd;
        height: 150px;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          flex-direction: column;
          i {
           font-size: 35px;
          }
          span {
            color: $black;
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
          }
        }
        &:hover {
          a {
            i {
              &:before {
                color:$orange;
              }
            }
            span {
              color:$orange;
            }
          }
        }
      }
      .edit {
        border-radius: 4px;
        border: 1px solid #dddddd;
        height: 150px;
        padding:15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .button-icon {
          display: flex;
          align-items: center;
          justify-content: space-between;
          a {
            display: flex;
            align-items: center;
            i {
             &:before {
               color:$orange;
             }
            }
            span {
              margin-left: 10px;
              font-size: 12px;
              color:$orange;
              font-weight: 500;
            }
          }
          .cart-icon {
            img {

            }
          }
        }
        .info {
          p {
            font-size: 14px;
            font-weight: 600;
            color:$black;
          }
          span {
            display: block;
            margin:8px 0;
            font-size: 12px;
          }
        }
      }
      .address {
        border-radius: 4px;
        border: 1px solid #dddddd;
        padding:15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .button-icon {
          display: flex;
          align-items: center;
          justify-content: space-between;
          a {
            display: flex;
            align-items: center;
            i {
              &.edit-icon {
                background-image:url($Img + '/icons/edit-hover.svg')
              }
            }
            span {
              margin-left:10px;
              font-size: 12px;
              color:$orange;
              font-weight: 500;
            }
          }
        }
        .info {
          p {
            font-size: 12px;
            font-weight: 600;
            color:$black;
          }
          span {
            display: block;
            margin:8px 0;
            font-size: 13px;
            color:#a3a3a3;
          }
        }
      }
      .remind {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        background-color: #f2f2f2;
        padding: 18px 15px;

        .left {
          display: flex;
          align-items: center;
          i {
            margin-right: 25px;
            font-size: 30px;
          }
          .info {
            h6 {
              font-size: 14px;
              margin-bottom: 2px;
            }
            span {
              font-size: 13px;
              font-weight: 300;
            }
          }
        }
        .right {
          display: flex;
          align-items: center;
          a {
            font-size: 13px;
            font-weight: 500;
            color: $black;
            &:first-child {
              margin-right:15px;
            }
            &:last-child {
              display: flex;
              align-items: center;
            }
            i {
            }
            span {
              margin-left: 7px;
            }
            &:hover {
              color: $orange;
              i {
                &:before {
                  color: $orange;
                }
              }
              span {
                color:$orange;
              }
            }
          }
        }
        &:hover {
          .left {
            i {
              background-image:url($Img + '/icons/notification-hover.svg')
            }
          }
        }
      }
      .orders {
          .title {
              .form-group {
                  display: flex;
                  align-items: center;
                  justify-content:space-between;
                  margin-bottom: 0;
                  label {
                      margin-right: 0;
                  }
                  select {
                      border:none;
                  }
              }
          }
        .box {
          .box-content {
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $screenmd) {
                flex-direction: column;
              }
            > div {
              width: 50%;
              @media (max-width: $screenmd) {
                width: 100%;
              }
            }
            .user-info {
                @media (max-width: $screenmd) {
                    text-align: center;
                  }
              h5 {
                font-size: 14px;
                font-weight: 400;
              }
              p {
                margin: 10px 0;
              }
              .link {
                margin-top: 30px;
                a {
                  font-size: 13px;
                  font-weight: 400;
                  color: $black;
                  text-decoration: underline;
                  &:last-child {
                    margin-left: 10px;
                    color: $orange;
                  }
                }
              }
            }
          }
        }
        table  {
            thead {
                tr {
                    th {
                        &.total {
                            text-align: right;
                            padding-right: 20px;
                        }
                    }
                }
            }
            tbody {
                > tr {
                    td {
                        &.image {
                            width:280px;
                        }
                       
                        &.price {
                            min-width: 100px;
                        }
                        &.total {
                            text-align: right;
                            padding-right:20px;
                            min-width:250px;
                        }
                    }
                }
            }
        }
      }
      .label-normal {
        margin-bottom: 0;
        font-size: 12px;
        
      }
      .two-grids {
        &.check-with-input {
          .form-group {
            &:last-child {
              margin-bottom: 15px;
            }
          }
          @media (max-width: $screenmd) {
            flex-direction: column;
            >div {
              width: 100%;
              &:first-child {
                margin-right: 0;
              }
              &:last-child {
                margin-top: 15px;
                margin-left:0px;
              }
            }
          }
        }
      }
      .item-container {
        margin:0 auto;
        .item {
          width: 32.3%;
          @media (max-width: $screenlg) {
            width:100%;
            margin-bottom: 12px !important;
          }
          &:nth-child(1) , &:nth-child(2), &:nth-child(3) {
            margin-bottom: 10px;
            @media (max-width: $screenlg) {
              margin:0;
            }
          }
          &:nth-child(2) , &:nth-child(5), &:nth-child(8) {
            margin:0 12px;
            @media (max-width: $screenlg) {
              margin:0;
            }
          }
        }
      }
      .h-250 {
        height:250px;
      }
    }
  }
}
