@import "../utilities/variables";

.cart-checkout {
  .title {
    margin-bottom: 15px;
    h5 {
      color: $black;
      font-size: 18px;
    }
  }

  .subtitle {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom:8px;
    h6 {
      font-size: 14px;
      color: #000;
      font-weight: 500;
    }
    span {
      font-size: 25px;
      font-weight: 300;
      color:#c9c9c9;
    }
    &.orange {
      span {
        color:$orange;
      }
    }
  }

  .buttons {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $screenmd) {
      margin: 30px 0;
      flex-direction: column;
    }
    a {
      max-width: 250px;
      @media (max-width: $screenmd) {
        margin-bottom: 0;
        max-width: 100%;
        &:nth-child(1) {
          margin-bottom: 10px;
        }
      }
    }
  }

  .coupon {
    @media (max-width: $screenmd) {
      margin-bottom: 20px;
    }
    h6 {
      font-size: 19px;
      margin-bottom: 30px;
      @media (max-width: $screenmd) {
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 16px;
      margin-bottom: 15px;
    }
    input {
      max-width: 400px;
      margin-bottom: 30px;
      border-radius: 4px;
      @media (max-width: $screenmd) {
        margin-bottom: 20px;
        max-width: 100%;
      }
    }
    button {
      max-width: 200px;
      display: block;
      @media (max-width: $screenmd) {
        max-width: 100%;
      }
    }
  }

 

  .envelope-type {
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 4px;
      padding:12px 15px;
      border:1px solid #e1e1e1;
      @media (max-width: $screenmd) {
        margin-bottom:10px;
      }
      span {
        &.left {
          font-size: 13px;
          font-weight: 700;
          color:$black;
        }
        &.right {
          font-size: 18px;
          font-weight: 300;
          color:#c9c9c9;
        }
      }
      &.active {
        border-color:$orange;
        span {
          &.right {
            color:$orange;
          }
        }
      }
    }
    .env-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      @media (max-width: $screenmd) {
        flex-direction: column;
        margin-bottom: 30px;
      }
      .item {
        width:100%;
        &:nth-child(2) {
          margin:0 15px;
          @media (max-width: $screenmd) {
            margin-bottom:10px;
          }
        }
      }
    }
  }

  .envelopeSwiper {
    height:280px;
    margin-bottom: 15px;
    border-radius: 4px;
    border:1px solid #e1e1e1;
    .swiper-wrapper {
      .swiper-slide {
        img {
          width:200px;
          height:200px;
        }
      }
    }
    .swiper-button-prev , .swiper-button-next {
      color:$black !important;
      &:after {
        font-size: 30px;
      }
    }
  }
  .visa {
    @media (max-width: $screenmd) {
      margin-bottom:30px;
    }
    .box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width:245px;
      height:150px;
      border-radius: 4px;
      margin-bottom: 50px;
      padding:18px;
      background-color:#f6f5f3;
      &:after {
        content:'';
        position: absolute;
        top:20px;
        right:-80px;
        background-color: #e6e6e6;
        border-radius: 4px;
        width:240px;
        height:160px;
        z-index: -1;
      }
      .img {
        text-align: right;
        img {
          margin:0;
        }
      }
      .text {
        span {
          display: block;
          &.number {
            font-size: 16px;
            color:black;
            font-weight: bold;
          }
          &.date {
            font-size: 13px;
            color:black;
            font-weight: bold;
          }
        }
        .name-surname {
          display: flex;
          align-items: center;
          margin:5px 0;
          span {
            font-size: 13px;
            color:#8c8c8c;
            &.name {
              margin-right:5px;
            }
          }
        }
      }
      .cvc {
        position: absolute;
        right: -65px;
        bottom:15px;
        span {
          display:block;
          font-size: 13px;
          color:black;
          font-weight: bold;
          &:first-child {
            margin-bottom: 5px;
            font-weight: 300;
            color:#a9a9a9;
          }
        }
      }
    }
    img {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    p {
      font-size: 14px;
      color:#d1d1d1;
      font-weight: 500;
    }
  }
}

.cart-checkout , .orders {
  .totals {
    @media (max-width: $screenmd) {
      max-width: 100%;
    }
    .box {
      margin-bottom: 20px;
      .box-content {
        border-radius: 4px;
        border: 1px solid #bfbfbf;
        background: #f9f9f9;
        padding: 15px 30px;
        .item-list {
          .item {
            border-bottom: 1px solid #c9c9c9;
            span,
            strong {
              font-size: 17px;
            }
            strong {
              font-weight: 500;
            }
            .sub {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 15px 0;
            }
            &.fdc {
              flex-direction: column;
              .sub {
                border-bottom: 1px solid #c9c9c9;
              }
              ul {
                margin: 20px 0;
                li {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-bottom: 10px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  span,
                  strong {
                    font-size: 14px;
                  }
                }
              }
            }
            &.active {
              span , strong {
                color:$orange;
              }
            }
            &:last-child {
              border-bottom: none;
            }
          }
        }
        .info {
          padding-top: 20px;
          border-top: 1px solid #c9c9c9;
          h6 {
            margin-bottom: 12px;
          }
          p {
            font-size: 14px;
            margin-bottom: 12px;
          }
        }
      }
    }
    p {
      font-weight: 500;
      font-size: 14px;
      color: $black;
      margin: 20px 0;
    }
  }
}

.cart-table , .orders {
  table {
    width: 100%;
    @media (max-width: $screensm) {
      width:800px;
    }
    thead > tr {
      th {
        border-top: medium none;
        font-size: 18px;
        text-transform: capitalize;
        vertical-align: middle;
        white-space: nowrap;
        padding: 10px 0;
        color: $black;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: capitalize;
        .name {
          max-width: 400px;
        }
        .price {
          max-width: 300px;
        }
      }
    }
    tbody > tr {
      td {
        font-size: 14px;
        padding: 20px 0px 20px;
        border-top: 1px solid #ddd;
      }
      td.x {
        width: 40px;
        a {
          i {
            &:before {
              color: #c5c5c5;
            }
          }
        }
      }
      td.button {
        width: 150px;
      }
      td.remove {
        width: 50px;
        a {
          color: #777777;
          i {
            display: block;
            height: 19px;
            width: 15px;
            font-size: 18px;
            transform: rotate(90deg);
            &:before {
              color:#bfbfbf;
            }
          }
        }
      }
      td.image {
        width: 100px;
        img {
          @media (max-width: $screenmd) {
            max-width: inherit;
          }
        }
      }
      td.fav-name {
        width: 300px;
        @media (max-width: $screenmd) {
          width: 200px;
          padding-left: 20px;
          padding-right: 0px;
        }
        a {
          font-size: 16px;
          font-weight: 500;
          color: $black;
        }
      }
      td.name {
        width: 370px;
        @media (max-width: $screenmd) {
          min-width: 200px;
          padding-left: 20px;
          padding-right: 0px;
        }
        a {
          font-size: 16px;
          font-weight: 500;
          color: $black;
        }
      }
      td.fav-price {
        min-width: 150px;
        span {
          color: #1f2226;
          font-weight: 500;
        }
      }
      td.price {
        min-width: 250px;
        span {
          color: #1f2226;
          font-weight: 500;
        }
      }
      td.quality {
        .plus-minus {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          input {
            margin: 0 10px;
            width: 40px;
            text-align: center;
            border: none;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            [type=number]{
              -moz-appearance: textfield;
            }
          }
          .qtybutton {
            cursor: pointer;
            font-weight: 500;
            font-size: 13px;
            border: none;
            background-color: transparent;
          }
        }
      }
      td.total {
        min-width: 70px;
        span {
          font-weight: 600;
        }
        a {
          &.btn {
            font-size: 14px;
            line-height: 37px;
            height: 38px;
            width: 175px;
          }
        }
      }
      td.status {
        font-size: 16px;
        &.false {
          color: #cd0000;
        }
        &.true {
          color: #690;
        }
      }
      &.active {
        td.remove {
          a {
            i {
              transform: rotate(270deg);
            }
          }
        }
      }
    }
  }
}
