.login-register-container {
    @media (max-width: $screenmd) {
        padding-right: 0 !important;
    }
    .modal-dialog {
        max-width: 450px;
        border-radius: 0;
        @media (max-width: $screenmd) {
            margin:0 auto !important;
        }
    }
    .modal-content {
        border: none;
        border-radius: 0rem;
    }
    .tab-menu {
        ul {
            .tab__item {
                width: 50%;
                text-align: center;
                a {
                    color: #666;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 15px 0;
                    background-color: #ededed;
                    &.active {
                        background: #fff;
                        color: $black;
                    }
                }
            }
        }
    }
    .tab-content {
        padding: 40px;
        @media (max-width: $screenmd) {
            padding: 20px 10px;
        }
        h2 {
            font-size: 18px;
            color: #111;
            margin-top: 0;
            margin-bottom: 0;
            line-height: 1.41;
        }
        .checkbox-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                font-size: 14px;
                color:black;
            }
        }
        .privacy-policy {
            color:black;
            &:hover {
                color:$orange;
            }
        }
        p {
            font-size: 16px;
            line-height: 1.74;
        }
    }
}