@import "../utilities/variables";
@import "../components/related-products";

section {
  &.page-product-details {
    .row {
      align-items: center;
      &.stick {
        align-items:flex-start;
        .col-md-7 {
          position:sticky;
          top:20px;
        }
      }
    }
    .swiper-container {
      display: flex;
      @media (max-width: $screenmd) {
        flex-direction: column-reverse;
        margin-bottom: 5px;
      }
      .swiper {
        &.productDetailTumbs {
          width: 100px;
          height: 400px;
          padding: 10px 0;

          box-sizing: border-box;

          margin: inherit;
          margin-right: 10px;
          padding-top: 0;
         
          
          @media (max-width: $screenmd) {
            width: 100%;
            height: 100px !important;
            margin-top: 5px;
          }
          .swiper-wrapper {
            flex-direction: column;
            @media (max-width: $screenmd) {
              flex-direction: row;
            }
            .swiper-slide {
              width: 100% !important;
              height: 90px;
              opacity: 0.4;
              margin-right: 0 !important;
              margin-bottom: 10px;
              border: 1px solid transparent;
              border-radius: 4px;
              img {
                border-radius: 4px;
              }
              @media (max-width: $screenmd) {
                width: 72px !important;
              }
              &.swiper-slide-thumb-active {
                opacity: 1;
                border-color: $orange;
              }
            }
          }
        }
        &.productDetailSwiper {
          width: 100%;
          height: 485px;
          cursor: grab;
          .swiper-slide {
            border-radius: 4px;
            img {
              border-radius: 4px;
            }
          }
        }
      }
    }
    .info {
      .title-and-rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        @media (max-width: $screenmd) {
          flex-direction: column;
        }
        .title {
          h1 {
            font-size: 20px;
          }
        }
        .rating {
          display: flex;
          align-items: center;
          span {
            font-size: 12px;
            color: $black;
            font-weight: 500;
          }
        }
      }
      .price {
        margin-bottom: 15px;
        span {
          font-weight: 500;
          &.fix {
            font-size: 30px;
            margin-right: 10px;
            color: $black;
          }
          &.discount {
            font-size: 20px;
            color: #c9c9c9;
            text-decoration: line-through;
          }
        }
      }
      .more {
        margin-bottom: 15px;
        p {
          font-size: 13px;
          color: $black;
          a {
            font-size: 13px;
            font-weight: 500;
            color: $black;
          }
        }
      }
      .form {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .product-buttons {
          width: 100%;
          margin-bottom: 15px;
          .btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px !important;
            &.active {
              border-color: $orange !important;
              .btn-price {
                color: $orange;
              }
            }
          }
        }
        .location {
          width: 100%;
          height: 45px;
          line-height: 45px;
          margin-bottom: 15px;
          font-size: 14px;
          padding: 10px;
          padding-left: 40px;
          border-radius: 4px;
          background-color: #f4f5f7;
          border: 1px solid #d7d7d7;
          background-image: url('../img/icons/location.svg');
          background-repeat: no-repeat;
          background-position:12px 8px;
          color: $black;
        }
        .date {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 15px;
          width: 100%;
          .box {
            margin: 0 5px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            .top {
              width: 100%;
              height: 75px;
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              background: #f2f2f2;
              border: 1px solid transparent;
              span {
                &.month {
                  font-size: 13px;
                  font-weight: normal;
                }
                &.now {
                  font-size: 15px;
                  font-weight: 500;
                }
              }
            }
            select {
              width: 100%;
              height: 40px;
              border-radius: 4px;
              font-size: 12px;
              margin-top: 15px;
              background-color: #f2f2f2;
              border: none;
            }
            &.active {
              .top {
                border-color: $orange;
              }
            }
          }
        }
        .time {
          margin-bottom: 15px;
          @media (max-width: $screenmd) {
            width: 100%;
          }
          .box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 4px;
            padding: 20px 10px;
            background-color: #f2f2f2;
            @media (max-width: $screenmd) {
              flex-direction: column;
            }
            .text {
              width: 50%;
              @media (max-width: $screenmd) {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
              }
              span {
                font-size: 14px;
                color: $black;
              }
            }
            .counter {
              width: 40%;
              @media (max-width: $screenmd) {
                width: 100%;
              }
              ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (max-width: $screenmd) {
                  justify-content: space-evenly;
                }
                li {
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  text-align: center;
                  position: relative;
                  &:after {
                    content: ":";
                    position: absolute;
                    right: -10px;
                    top: 0;
                    color: $orange;
                    @media (max-width: $screenmd) {
                      display: none;
                    }
                  }
                  &:last-child {
                    &:after {
                      display: none;
                    }
                  }
                  span {
                    font-size: 16px;
                    font-weight: 500;
                    color: $orange;
                    &:last-child {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
        .warning {
          margin-bottom: 15px;
          .box {
            border-radius: 4px;
            background-color: #f2f2f2;
            a {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 20px 10px;
            }
            span {
              width: 70%;
              font-size: 14px;
              color: $black;
            }
            i {
            }
          }
        }
        .buttons {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: $screenmd) {
            flex-direction: column;
          }
          a {
            &.order {
              width: 50%;
            }
            &.heart {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #c9c9c9;
              border-radius: 4px;
              width: 15%;
              margin: 0 15px;
              @media (max-width: $screenmd) {
                margin: 15px 0;
              }
              &:hover {
                i {
                  &.heart-icon {
                    background-image:url($Img + '/icons/heart-hover.svg')
                  }
                }
              }
            }
            &.share {
              width: 35%;
            }
            @media (max-width: $screenmd) {
              width: 100% !important;
            }
          }
        }
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15px;
        ul {
          display: flex;
            align-items: center;
            justify-content:center;
          li {
            display: flex;
            align-items: center;
            justify-content:center;
            margin-right: 8px;
            margin-left: 0px;
            i {
              margin-right: 5px;
            }
            span {
              font-size: 12px;
              font-weight: 500;
              color: $black;
            }
          }
        }
      }
      .code {
        div {
          span {
            font-size: 13px;
            font-weight: 500;
            &:first-child {
              color: $black;
            }
            &:last-child {
              color: #c9c9c9;
            }
          }
        }
      }
    }
  }
}

.rate {
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
