@import '../utilities/_variables';

.product-item {
    margin-bottom: 20px;
    a {
        .image {
            position: relative;
            border-radius: 4px;
            img {
                border-radius: 4px;
                @media (max-width: $screenmd) {
                    width: 100%;
                }
            }
            span {
                position: absolute;
                top:12px;
                right:12px;
                color:$white;
                padding:5px 10px;
                border-radius: 4px;
                &.onsale {
                    background-color:$darkred;
                }
                &.out-of-stock {
                    background-color:$black;
                }
            }
        }
        .content {
            margin-top:20px;
            .title {
                margin-bottom: 12px;
                h5 {
                    font-size: 16px;
                    color:$black;
                }
            }
            .price {
                display: flex;
                align-items:center;
                justify-content:center;
                span {
                   font-size: 17px;
                   color:#545454;
                   margin:0 5px;
                }
            }
        }
    }
}