@import '../utilities/variables';

.sub-page-banner {
    background-color: #f4f5f7;
    height:120px;
    > .container {
        display: flex;
        align-items: center;
        justify-content:space-between;
        height:100%;
        @media (max-width: $screenmd) {
            flex-direction: column;
            justify-content: center;
        }
        &.center {
            justify-content: center;
        }
    }
    .bread-crumb {
        @media (max-width: $screenmd) {
            margin-bottom: 20px;
        }
        ul {
            li {
                font-size: 14px;
                display: inline-block;
                color:$black;
                padding-right: 12px;
                position: relative;
                margin-left:4px;
                text-transform: uppercase;
                &:after {
                    content:'/';
                    position: absolute;
                    display: block;
                    right: 0;
                    top:0;
                }
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                    &:after {
                        display: none;
                    }
                    a {
                        color:#959595;
                    }
                }
                a {
                    color:$black;
                    font-size: 14px;
                }
            }
        }
        
    }
    .checkout-bread-crumb {
        ul {
            display: flex;
            align-items: center;
            @media (max-width: $screenmd) {
               flex-direction: column;
            }
            li {
                position: relative;
                text-transform: uppercase;
                margin-right: 10px;
                @media (max-width: $screenmd) {
                    margin-right: 0;
                    margin-bottom: 4px;
                 }
                a {
                    display: flex;
                    align-items: center;
                    @media (max-width: $screenmd) {
                        flex-direction: column;
                     }
                    span {
                        color:#8b8b8b;
                        font-size: 13px;
                        font-weight: 500;
                    }
                    i {
                        width:30px;
                        height:1px;
                        background-color:#c9c9c9;
                        display:block;
                        margin-left:10px;
                        @media (max-width: $screenmd) {
                            margin-left: 0;
                         }
                    }
                }
                &.active {
                    a {
                        span {
                            color:$black;
                        }
                    }
                }
                &.prev {
                    a {
                        span {
                            color:$black;
                        }
                        i {
                            background-color:$orange;
                        }
                    }
                }
            }
        }
    }
    .select {
        label {
            font-size: 16px;
            margin-right: 10px;
            color:$black;
            font-weight: bold;
        }
        select {
            background-color: transparent;
            border: none;
            font-weight: bold;
            option {

            }
        }
    }
}