@import '../utilities/_variables';


.title-and-product-links {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 20px;
    h1 {
        font-size: 30px;
        color:$black;
    }
    ul {
        li {
            position: relative;
            padding:0 20px;
            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 30%;
                width:1px;
                height:10px;
                background-color:$black;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            a {
                font-size: 16px;
                color:$black;
                &.active {
                    color:#979797;
                }
            }
            
        }
    }
}

.product-details-tab-menu {
    ul {
        li {
            position: relative;
            padding-right: 15px;
            padding-left: 10px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            &:after {
                content:'/';
                position: absolute;
                display: block;
                right: 0;
                top: 0;
                font-size: 19px;
            }
            a {
                font-size: 18px;
                font-weight: 500;
                color:$black;
            }
        }
    }
    .tab-content {
        margin-top: 15px;
        .tab-pane {

        }
    }
}