@import '../utilities/variables';

.title-subtitle {
    margin:80px 0;
    h5 {
        font-family: 'Montez', cursive;
        font-weight: 300;
        font-size: 50px;
        margin-bottom:35px;
    }
    p {
        max-width: 780px;
        margin: auto;

        font-size:16px;
        font-weight: 300;
        line-height: 22px;
        
        color:$black;
    }
    @media (max-width: $screensm) {
        margin:20px 0;
        h5 {
            margin-bottom:7px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
        }
    }
}