// Font Lato Sans Serif
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/lato/lato-thin.eot');
  src: url('../fonts/lato/lato-thin.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-thin.woff2') format('woff2'),
    url('../fonts/lato/lato-thin.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/lato/lato-light.eot');
  src: url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light.woff2') format('woff2'),
    url('../fonts/lato/lato-light.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lato/lato-regular.eot');
  src: url('../fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular.woff2') format('woff2'),
    url('../fonts/lato/lato-regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/lato/lato-bold.eot');
  src: url('../fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold.woff2') format('woff2'),
    url('../fonts/lato/lato-bold.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/lato/lato-black.eot');
  src: url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff2') format('woff2'),
    url('../fonts/lato/lato-black.woff') format('woff');
}
