@font-face {
  font-family: 'Point';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
    src: url('../fonts/point/Point-Thin.woff2') format('woff2');
    src: url('../fonts/point/Point-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Point';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
    src: url('../fonts/point/Point-Light.woff2') format('woff2');
    src: url('../fonts/point/Point-Light.woff') format('woff');
}

@font-face {
  font-family: 'Point';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
    src: url('../fonts/point/Point-Regular.woff2') format('woff2');
    src: url('../fonts/point/Point-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Point';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
    src: url('../fonts/point/Point-Regular.woff2') format('woff2');
    src: url('../fonts/point/Point-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Point';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
    src: url('../fonts/point/Point-Bold.woff2') format('woff2');
    src: url('../fonts/point/Point-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Point';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
    src: url('../fonts/point/Point-Black.woff2') format('woff2');
    src: url('../fonts/point/Point-Black.woff') format('woff');
}
